@page "/confirm"
@using DirectFlights.Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject FlightService service
@inject AuthenticationStateProvider asp

<div class="container text-center">
	<h3 class="">Payment Confirmed!</h3>
	<div>Your payment has been confirmed. You should recieve an email with your flight details and ticket information.</div>
	<div>Thank You!</div>
</div>


@code {
	private string userEmail { get; set; }
	protected override async Task OnInitializedAsync()
	{
		var authState = await asp.GetAuthenticationStateAsync();
		var user = authState.User;
		userEmail = user.FindFirst("emails").Value;
		await service.SendEmail(userEmail);
	}
}
