@page "/confirm"

<div class="container text-center">
	<h3 class="">Payment Confirmed!</h3>
	<div>Your payment has been confirmed. You should recieve an email with your flight details and ticket information.</div>
	<div>Thank You!</div>
</div>


@code {

}
