@page "/purchase/{id:int}/seat/{seatClassName}/count/{num:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DirectFlights.Shared
@using DirectFlights.Client.Services
@attribute [Authorize]
@inject FlightService service
@inject AuthenticationStateProvider asp


<PageTitle>Purchase Ticket</PageTitle>

<div class="container">
	<h3>Review Ticket Purchase</h3>
	<h5>Credit Card Information</h5>
	<div class="row">
		<div class="col-lg-2 col-4 mt-2 text-end">
			<label class="form-label">Credit Card Number:</label>
		</div>
		<div class="col-lg-5 col">
			<input type="text" class="form-control" />
			<span class="text-secondary" style="font-size: 12px">Example: 1111-1111-1111-1111</span>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-lg-2 col-3 text-end mt-2">
			<label class="form-label">Exp. Date:</label>
		</div> 
		<div class="col-lg-2 col-4">
			<input type="text" class="form-control" />
			<span class="text-secondary" style="font-size: 12px">Ex: 01/00</span>
		</div>
		<div class="col-lg-1 col-2 text-end mt-2">
			<label class="form-label">CVV:</label>
		</div> 
		<div class="col-lg-1 col-3">
			<input type="text" class="form-control" />
			<span class="text-secondary" style="font-size: 12px">Ex: 123</span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col my-auto">
			<div class="fw-bold fs-5">
				Total: @total
			</div>
		</div>
		<div class="col-lg-4 col text-end">
			<NavLink href="/confirm" class="text-decoration-none text-reset"><button class="btn btn-success" @onclick=PurchaseTicket>Purchase Ticket</button></NavLink>
			
		</div>
	</div>
	<div class="row">
		<div style="font-size: 8px" class="text-secondary">*Note: None of this is real. You will not be charged.</div>
	</div>
</div>

@code {

	[Parameter]
	public int Id { get; set; }
	[Parameter]
	public string SeatClassName { get; set; }
	[Parameter]
	public int num { get; set; }
	private string total;

	protected async override Task OnInitializedAsync()
	{
		GetTotal();
	}

	private async Task GetTotal()
	{
		total = await service.GetTotal(Id, SeatClassName, num, (decimal)1.06);
		StateHasChanged();
	}

	private async void PurchaseTicket()
	{
		var authState = await asp.GetAuthenticationStateAsync();
		var user = authState.User;
		var username = user.FindFirst("name")?.Value;

		if(username != null){
			for(int i = 0; i < num; i ++){
				await service.AddTicketToDB(Id, SeatClassName, username);
			}			
		}
		
	}
}
