@page "/confirm"
@using Microsoft.AspNetCore.Identity
@using DirectFlights.Client.Services
@inject FlightService service
@inject UserManager<IdentityUser> userManager

<div class="container text-center">
	<h3 class="">Payment Confirmed!</h3>
	<div>Your payment has been confirmed. You should recieve an email with your flight details and ticket information.</div>
	<div>Thank You!</div>
</div>


@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; }

	private string userEmail { get; set; }
	protected override async Task OnInitializedAsync()
	{
		var user = (await authenticationStateTask).User;
		if (user.Identity.IsAuthenticated)
		{
			userEmail = (await userManager.GetUserAsync(user)).Email;
			await service.SendEmail(userEmail);
		}
	}
}
