@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DirectFlights.Shared
@using DirectFlights.Client.Services
@using DirectFlights.Client.Pages.Components
@attribute [Authorize]
@inject FlightService service

<h3>Admin</h3>
<TabControl>
    <TabPage Text="Flight Profits">
        <div class="border border-secondary rounded shadow-sm" style="min-height: 37ex">
            <FlightTotalPage />
        </div>
    </TabPage>
    <TabPage Text="Airline Profits">
        <div class="border border-secondary rounded shadow-sm" style="min-height: 37ex">
            <AirlineTotalPage />
        </div>
    </TabPage>
    <TabPage Text="Routes">
        <div class="border border-secondary rounded shadow-sm" style="min-height: 37ex">
            <AddRoutes />
        </div>
    </TabPage>
</TabControl>

@code {
    
}
